
<img src="<%= place.image %>" alt="<%= place.name %>">
<h3>Created by
<%= place.createdBy.username %>
</h3>
<h1><%= place.name %></h1>
<h4><em><%= place.type %> </em><br><%= place.details%></h4>

<%# delete %>
<form  action="/places/<%= place.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE"/>
  <button name="delete">Delete</button></form>
   <button> <a href="/places/<%= place._id %>/edit">Edit</a></button>



<h2>Music</h2>

<form action="/places/<%= place._id %>" method="POST" class="form-pure" placeholder="" value="Post music">
  <input type="text" class="pure-input-2-3" name="track" placeholder="track">
  <input type="text" class="pure-input-2-3" name="artist" placeholder="artist">
  <input type="text" class="pure-input-2-3" name="image" placeholder="image">
  <input type="text" class="pure-input-2-3" name="comments" placeholder="comments">
  <button type="submit" name="button">add</button>
</form>



<h1>music memories</h1>
<ul>

  <%= place.music %>
  <% place.music.forEach(music => { %>

    <li>
      <h5><a href="/users/<%= music.createdBy %>"><%= music.createdBy %></a></h5>
      <img src="<%= music.image %>">
      <p>track: <%= music.track %></p>
      <p>artist: <%= music.artist %></p>
      <p>user : <%= music._id %></p>
    </li>
  <% }) %>
</ul>
